/* NAVBAR */

.navbar {
	height: auto;
}

.navbar-dark {
	background-color: #ffffff !important;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar-brand,
.nav-link {
	color: #444c66 !important;
}

.navbar-brand {
	text-transform: capitalize;
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
}

.nav-link {
	text-decoration: none !important;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	margin-left: 10px;
}

.nav-link:hover::after {
	content: '';
	color: #ededed;
	display: block;
	width: 20px;
	margin: left;
	padding-bottom: 5px;
	margin-bottom: -8px;
}

.jumbotron {
	background-color: #dae1ee !important;
}

.button-nav-link {
	margin-left: 10px;
}

.button-pink {
	background-color: #D71149 !important;
	border: 1px solid #D71149 !important;
}

.button-pink:hover {
	background-color: rgb(179, 11, 58) !important;
	border: 1px solid rgb(179, 11, 58) !important;
}

.button-outline-pink {
	border: 1px solid #D71149 !important;
	background-color: rgba(0, 0, 0, 0) !important;
	color: #D71149 !important;
}

.button-outline-pink:hover {
	background-color: #D71149 !important;
	color: #ededed !important;
}

/* NAVBAR PC */

@media (min-width: 992px) {

	.navbar {
		height: 70px;
	}

	.nav-link {
		text-transform: uppercase;
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #fff;
		width: 20px;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.button-nav-link {
		margin-left: 20px;
	}
}

/* SIDEBAR */

.username {
	margin-left: -20px;
	font-weight: bold;
}

a.list-group-item-action {
	text-transform: capitalize !important;
}

a.list-group-item-action:hover {
	background-color: rgba(220, 220, 220, 0.6) !important;
	border: 1px solid rgba(220, 220, 220, 0.6) !important;
}

a.list-group-item-action.active {
	color: #fff;
	background-color: #D71149 !important;
	border: 1px solid #D71149 !important;
}

/* MAPS */
path.fill-0 {
	fill: #0452d7 !important;
}

path.fill-0:hover {
	fill: #011F4B !important;
}

/* MAPS POPOVER */


/* RESULT KUIS */
.bgr-soal {
	background-color: #F0F1F2;
	border: 1px solid #D2D3D4;
}

.question {
	font-weight: bold;
}

.answer {
	font-size: 14px;
	font-weight: 200;
}

/* FOOTER */
.feature-footer {
	background-color: #080C15;
	padding: 30px 0 20px 0;
}

.title-footer {
	color: #ADADAD;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 20px;
	width: auto;
}

.title-footer::after {
	content: '';
	display: block;
	margin: 10px 0;
	width: 70px;
}

.content-footer {
	font-size: 14px;
	color: #ADADAD;
}

footer.footer {
	color: #ADADAD;
	background-color: #080C15;
	font-size: 14px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.video-player {
		width: 100%;
		height: 200px;
	}

	.video-player-mini {
		width: 100%;
		height: 170px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.video-player {
		width: 100%;
		height: 300px;
	}

	.video-player-mini {
		width: 100%;
		height: 150px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.video-player {
		width: 100%;
		height: 400px;
	}

	.video-player-mini {
		width: 100%;
		height: 220px;
	}
}

.breadcrumb {
	border: 1px solid #D9DADB;
	font-size: 12px;
	padding: 5px 10px;
}

.icon-panel-teacher {
	width: 80px;
	height: 80px;
	color: white;
	background-color: #D71149;
}

#hero {
	width: 100%;
	height: 70vh;
	background: #fef8f5;
	border-bottom: 2px solid #fcebe3;
	margin: 72px 0 -72px 0;
  }
  
  #hero h1 {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: #4e4039;
  }
  
  #hero h2 {
	color: #a08f86;
	margin: 15px 0 0 0;
	font-size: 24px;
  }
  
  #hero .btn-get-started {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 3px;
	transition: 0.5s;
	margin-top: 30px;
	color: #fff;
	background: #eb5d1e;
  }
  
  #hero .btn-get-started:hover {
	background: #ef7f4d;
  }
  
  #hero .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 991px) {
	#hero {
	  height: calc(100vh - 72px);
	}
  
	#hero .animated {
	  animation: none;
	}
  
	#hero .hero-img {
	  text-align: center;
	}
  
	#hero .hero-img img {
	  width: 50%;
	}
  }
  
  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
  
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	}
  
	#hero .hero-img img {
	  width: 70%;
	}
  }
  
  @media (max-width: 575px) {
	#hero .hero-img img {
	  width: 80%;
	}
  }
  
  @media (max-height: 600px) {
	#hero {
	  height: 120vh;
	}
  }
  
  @keyframes up-down {
	0% {
	  transform: translateY(10px);
	}
  
	100% {
	  transform: translateY(-10px);
	}
  }

  
  
