<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Prediksi Liver</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />

  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/index">DiabetTest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form_predict">Prediksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron" style="background-color: #DFE9AC;">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h2>Form Prediksi Diabetes</h2>
        </div>
        <div class="col-md-6">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modal" style="float: right">
            <i class="fa fa-question"></i> Bantuan
          </button>      
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Panduan Pengisian Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <ol>
                <li>User masuk ke aplikasi web.</li>
                <li>Pada halaman awal tekan button “Mulai Prediksi” atau klik menu “Prediksi” pada bagian menu bar.</li>
                <li>Isi form yang ada di halaman tersebut.</li>
                <li>Dalam form yang sudah ada, silahkan isi dan lengkap data-data yang diminta seperti Insulin, BMI, glukosa, SkinThickness, Pregnancies, Blood Pressure, Age, dan Diabetes Pedigree Function</li>
                <li>Kemudian klik "Lakukan prediksi" untuk melihat hasilnya.</li>
                <li>Selesai.</li>
              </ol>

            </div>
          </div>
        </div>
      </div>

      <hr class="my-3">

      <br>
      
      <form action="{{ url_for('predict')}}" method="POST">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Pregnancies">Pregnancies</label>
              <input type="number" min="0" max="1000" class="form-control" id="Pregnancies" name="Pregnancies" placeholder="" required />
            </div>


            <div class="form-group">
              <label for="Glucose">Glucose</label>
              <input type="number" min="0" max="1000" step="0.01" class="form-control" id="Glucose" name="Glucose" placeholder="" required />
            </div>

            <div class="form-group">
              <label for="BloodPressure">Blood Pressure</label>
              <input type="number" min="0" max="1000" step="0.01" class="form-control" id="BloodPressure" name="BloodPressure" placeholder="" required />
            </div>

            <div class="form-group">
              <label for="SkinThickness">Skin Thickness</label>
              <input type="number" min="0" max="10000" class="form-control" id="SkinThickness" name="SkinThickness" placeholder="" required />
            </div>            
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="Insulin">Insulin</label>
              <input type="number" min="0" max="10000" class="form-control" id="Insulin" name="Insulin" placeholder="" required />
            </div>

            <div class="form-group">
              <label for="BMI">BMI</label>
              <input type="number" min="0" max="10000" class="form-control" id="BMI" name="BMI" placeholder="" required />
            </div>

            <div class="form-group">
              <label for="DiabetesPedigreeFunction">Diabetes Pedigree Function</label>
              <input type="number" min="0" max="1000" step="0.01" class="form-control" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" placeholder="" required />
            </div>

            <div class="form-group">
              <label for="Age">Age</label>
              <input type="number" min="0" max="1000" step="0.01" class="form-control" id="Age" name="Age" placeholder="" required />
            </div>         

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">Lakukan Prediksi</button>
        </div>
        
      </form>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</body>

</html>